.par{
 display: flex;
 justify-content: space-between;
}
.child-1{
 color: green;
}
.child-2{
 color: blue;
}
@media screen and (max-width: 780px){
 .par{
  flex-direction: column;
 }
 .child-1{
  color: rgb(22, 169, 113);
 }
 .child-2{
  color:rgb(20, 172, 126) ;}

}