.container_top{
              margin-top: 0%;
               display: flex;
               flex-direction: row;
               flex-wrap: wrap;
               height: 50px;
               width: 100%; 
               background-color: wheat;
               justify-content: space-between;
               position: relative;
}
#web_name{color: rgba(128, 128, 128, 0.833);
 /* display: flex; */
 flex-wrap: wrap;
 width:40px;
 border: 1px solid black;
 height: 40px;
 /* text-align:start; */
 margin-left: 0%;
 /* justify-items: center; */
 position: relative;
}
#web_menu{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid rgb(158, 15, 15);
}
#top_menu{
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;

}